<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Criar reserva</title>
</head>
<body>
<h1>Formulario</h1>
<form th:action="@{/reserva/create}" th:object="${request}" th:method="post">
    <input placeholder="Medico" type="text" th:field="*{idMedico}">
    <input placeholder="Sala" type="text" th:field="*{idSala}">
    <input placeholder="Data inicio" type="text" th:field="*{dataInicio}">
    <input placeholder="Data fim" type="text" th:field="*{dataFim}">

    <button type="submit">Enviar</button>
</form>
</body>
</html>