<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1 th:text="${title}"></h1>
<table>
    <tr>
        <td>Id</td>
        <td>Nome medico</td>
        <td>Nome sala</td>
        <td>Data inicio</td>
        <td>Data fim</td>
    </tr>

    <tr th:each="reserva : ${reservas}">
        <td th:text="${reserva.getId()}"></td>
        <td th:text="${reserva.getMedico().getNome()}"></td>
        <td th:text="${reserva.getSala().getNome()}"></td>
        <td th:text="${reserva.getDataInicio().toString()}"></td>
        <td th:text="${reserva.getDataFim().toString()}"></td>
    </tr>
</table>

<a href="create">Criar</a>

</body>
</html>