<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <a href="/medico/list">Listar médicos</a>

    <br/>
    <br/>

    <a href="/sala/list">Listar salas</a>

    <br/>
    <br/>

    <a href="/reserva/list">Listar reservas (todas)</a>

    <br/>
    <br/>

    <a href="/reserva/past">Listar reservas (passadas)</a>

    <br/>
    <br/>

    <a href="/reserva/recent">Listar reservas (futuras)</a>

    <br/>
    <br/>

    <a href="/reserva/create">Criar reserva</a>
</body>
</html>